{% extends 'base.html' %}

<!-- title -->
{% block title %}Reinitialisation du mot de passe{% endblock %}

<!-- content -->
{% block content %}
<!--  -->
Voici votre code pour
<strong>la modification de votre mot de passe à deux facteurs</strong>:
<!--  -->
{% endblock %}

<!-- code -->
{% block code %} <strong>{{code}}</strong> {% endblock %}

<!-- lien de verification -->
{% block lien %}
<a
  href="http://localhost:5174/verify-code"
  target="_blank"
  rel="noopener noreferrer"
  >Vérifier mon code</a
>
{% endblock %}

<!-- avertissement -->
{% block avertissement %}
<!--  -->
Pour protéger votre compte, ne communiquez pas ce code. Si vous n'êtes pas à
l'origine de cette demande, ignorez simplement cet email.
<!--  -->
{% endblock %}
